
* {
   width: 100%;
   font-weight:bold;

}

.page-footer  {
    display: grid;
    justify-content: center;
    height: 450px;  
    background-color: var(--semi-oscuro);
    box-shadow: var(--grey) 0px 0px 95px, var(--azul) 0px 4px 31px ;
    border: 0px solid var(--azul-fran) ; 
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   background-color:var(--grey-button);
   width: 8em;
   height: 2em;
   margin: 1rem auto 0;
   border-radius: 5px;
}

.btn:hover {
   border-color: 3px var(--azul-fran);
}

.rrss {
   display: flex;
   width: 500px;
   color: var(--oscuro);  
   margin: 0rem auto 0;
}

ul {
   margin: auto 0;
}

.rrss ul li h3 {
   border-bottom: 2px solid var(--oscuro);
   margin: auto 0;
}

.icons {
   display: flex;
   width: 600px;
   height: 150px; 
}

.icons img {
   height: 70px;
   text-align: start;
   width: 50px; 
   padding: 0px 0px 20px 0px;  
   margin: 50px;
}

.icons img:hover {
   display: inline-flex;
   cursor:crosshair;
   width: 65px;
   opacity: 1;
   filter: contrast(190%);
   object-fit: cover;
   opacity: .8;
   transition: .7s ease;
   padding: 0px 0px 10px 0px;  
}

.datos-ubicacion {
   display:flex;
   font-size: 1.5rem;
   width: 20%;
   height: 50px;
   align-items: center;
   justify-content:flex-start;
   color: var(--oscuro);
}

.copyright {
   align-items: center;
   justify-content: end;
   width: 60%;
   height: 70px;
   color: var(--oscuro);
   padding: 0px 10px 0px 20px;
   margin: 0px 0px 0px 30px;
}

.copyright img {
   width: 70px;
   height: 60px;
   margin: 0px 20px 30px 20px;
   border-radius: 5px;
   box-shadow: var(--semi-oscuro) 0px 2px 95px, var(--azul-hover) 0px 5px 10px;
   border: 1px solid var(--azul-fran);
}

