
* {
   width: 100%;
   font-weight:bold;

}

.page-footer  {
    display: grid;
    justify-content: center;
    height: 20%;  
    background-color: var(--salmon-footer);
    box-shadow: var(--grey) 0px 0px 95px, var(--azul) 0px 4px 31px;
    border: 0px solid var(--azul-fran); 
    font: 1rem/1rem "Open Sans", sans-serif;
}

.btn-footer {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   background-color:var(--grey-button);
   width: 8em;
   height: 2em;
   margin: 1rem 0rem 1rem 22rem;
   padding: 1%;
   border-radius: 5px;
}

.btn:hover {
   border-color: 3px var(--azul-fran);
}

.rrss {
   display: flex;
   width: 500px;
   color: var(--pastel);  
   margin: auto 0;
}

ul {
   margin: auto 0;
}

.rrss ul li h3 {
   border-bottom: 2px solid var(--pastel);
   margin: auto 0;
}

.icons {
   display: inline-flex;
   justify-content: center;
   width: 100%;
   height: auto ; 
}

a {
   width: 6rem;
}

.icons img {
   width: 2rem; 
   height: auto;
   text-align: center;
   padding: 30% 30% 15% 30%;  
   margin: 20% 0% 0% 0%;
}

.icons img:hover {
   display: inline-flex;
   cursor:crosshair;
   width: 65px;
   opacity: 1;
   filter: contrast(190%);
   object-fit: cover;
   opacity: .8;
   transition: .7s ease;
   padding: 0px 0px 10px 0px;  
}

.datos-ubicacion {
   display:flex;
   width: 10%;
   align-items: center;
   justify-content:flex-start;
   color: var(--oscuro);
   padding: 0% 0% 25% 0%;
   margin: 3% 1% 1% 1%;
}

.copyright {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 10%;
   height: 40%;
   color: var(--oscuro);
   padding: 0% 0% 0% 0%;
   margin: 1% 1% 1% 1%;
}

.p-footer {
   font: 1rem/1rem "Open Sans", sans-serif;
   padding: 0% 0% 0% 0%;
   margin: 9% 0% 1% 5%;
}

.logo-footer {
   width: 4rem;
   height: 4rem;
   margin: -6% 15% 2% 0%;
   border-radius: 5px;
   box-shadow: var(--semi-oscuro) 0px 2px 95px, var(--azul-hover) 0px 5px 10px;
   border: 1px solid var(--azul-fran);
}

