
* {
   width: 100%;

}

.page-footer  {
    display: grid;
    justify-content: center;
    height: 20%;  
    background-color: var(--salmon-footer);
    box-shadow: var(--grey) 0px 0px 95px, var(--azul) 0px 4px 31px;
    border: 0px solid var(--azul-fran); 
    font: 1rem/1rem "Open Sans", sans-serif;
}

.btn-footer {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   background-color:var(--grey-button);
   width: 8em;
   height: 2em;
   margin: 3% 0% 2% 40%;
   padding: 1%;
   border-radius: 5px;
}

.btn:hover {
   border-color: 3px var(--azul-fran);
}

.rrss {
   display: flex;
   width: 500px;
   color: var(--pastel);  
   margin: 3%;
}

ul {
   margin: auto 0;
}

.rrss ul li h3 {
   border-bottom: 2px solid var(--pastel);
   margin: auto 0;
}

.icons {
   display: inline-flex;
   justify-content: center;
   width: 100%;
   height: auto ; 
}

a {
   width: 6rem;
}

.icons img {
   width: 2rem; 
   height: auto;
   text-align: center;
   padding: 30% 30% 15% 30%;  
   margin: 20% 0% 0% 0%;
}

.icons img:hover {
   display: inline-flex;
   cursor:crosshair;
   width: 65px;
   opacity: 1;
   filter: contrast(190%);
   object-fit: cover;
   opacity: .8;
   transition: .7s ease;
   padding: 0px 0px 10px 0px;  
}

.datos-ubicacion-titulo {
   display:flex;
   width: 10%;
   align-items: center;
   justify-content:flex-start;
   color: var(--oscuro);
   padding: 0% 0% 2% 0%;
   margin: 7% 1% 1% 1%;
}

.li-horario {
   display: flex;
   width: 60%;
   padding: 0% 0% 1% 0%;
   margin: 0.5% 5% 0% 1%;
   border-bottom: 1.9px solid var(--semi-oscuro);
}

.li-direccion {
   display: flex;
   width: 60%;
   padding: 0% 0% 1% 0%;
   margin: 0.5% 5% 0% 1%;
   border-bottom: 1.9px solid var(--semi-oscuro);
}

.li-telefono {
   display: flex;
   width: 70%;
   padding: 0% 0% 1% 0%;
   margin: 0.5% 5% 0% 1%;
   border-bottom: 1.9px solid var(--semi-oscuro);
}

.ul-ubicacion {
   font: 0.8rem/1.2rem "Open Sans", sans-serif;
   display: flex;
   width: 90%;
   padding: 0% 0% 0% 0.5%;
   margin: 0% 0% 0% 6%;
}

.datos-ubicacion {
   display:flex;
   width: 6%;
   align-items: center;
   justify-content:flex-start;
   color: var(--oscuro);
   padding: 0% 0% 2% 0%;
   margin: 0% 1% 1% 1%;
  
}

.copyright {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 10%;
   height: 10%;
   color: var(--oscuro);
   padding: 0% 0% 0% 0%;
   margin: 1% 1% 1% 1%;
}

.p-footer {
   font: 0.8rem/1rem "Open Sans", sans-serif;
   padding: 0% 0% 0% 0%;
   margin: 5% 0% 0% 25%;
}

.logo-footer {
   width: 3rem;
   height: 3rem;
   margin: -6% 15% 2% 0%;
   border-radius: 5px;
   box-shadow: var(--semi-oscuro) 0px 2px 95px, var(--azul-hover) 0px 5px 10px;
   border: 1px solid var(--azul-fran);
}

