.h1-profesionales {
    display: flex;
    font: 2rem/2rem "Open Sans", sans-serif;
    width: 100vw;
    height: 17vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 4% 0% 0% 0%;
    padding: 4% 3% 4% 2%;
    color: var(--semi-oscuro);
    border-bottom: 2px solid var(--semi-oscuro); 
    background-color: var(--salmon);
}

.profesional-card {
    justify-content: end;
    align-items:center;
    text-align: center;
    opacity: 1;
    filter: contrast(110%);
    width: 23vw;
    height: 50vh;
    padding: 0% 0% 4% 0%;
    margin: 4% 4% 3% 5%;
    border-radius: 4px;
    color: var(--semi-oscuro);
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--azul) 0px 1px 5px ;
    border: 1px solid var(--semi-oscuro) ;
}

.profesional-card:hover {
   opacity: 1;
   filter: contrast(120%);
   object-fit: cover;
   transition: .4s ease;
   border: 2px solid var(--semi-oscuro) ;
}

.prof-card-img {
    width: 21vw;
    height: 39vh;
    padding: 0.1% 0.1% 0.1% 0.1%;
    margin: 3% 2% 0% 2%;
    border-radius: 4px;
    color: var(--semi-oscuro);
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--azul) 0px 1px 5px ;
    border: 1px solid var(--semi-oscuro) ;
}

.MuiCardContent-root {
    font-size: 20px;
    width: 20vw;
    height: 10vh;
    padding: 0.1% 0.1% 0.1% 0.1%;
    margin: 0% 0% 0% 0%;
}