.h1-profesionales {
    display: flex;
    font: 2rem/2rem "Open Sans", sans-serif;
    width: 100vw;
    height: 4rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 4% 0% 0% 0%;
    padding: 4% 3% 4% 2%;
    color: var(--semi-oscuro);
    border-bottom: 2px solid var(--semi-oscuro); 
    background-color: var(--salmon);
}

.profesional-card {
    justify-content: end;
    align-items:center;
    text-align: center;
    opacity: 1;
    filter: contrast(110%);
    width: 23vw;
    height: 70vh;
    margin: 4%;
    color: var(--semi-oscuro);
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--azul) 0px 4px 15px ;
    border: 1px solid var(--semi-oscuro) ;
}

.profesional-card:hover {
   opacity: 1;
   filter: contrast(120%);
   object-fit: cover;
   transition: .4s ease;
   border: 2px solid var(--salmon) ;
}

img {
    width: 20vw;
    height: auto;
    margin: 1%;
}