.h1-tratamientos {
    display: flex;
    font: 2rem/2rem "Open Sans", sans-serif;
    width: 100vw;
    height: 17vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 4% 0% 0% 0%;
    padding: 4% 3% 4% 2%;
    color: var(--semi-oscuro);
    border-bottom: 2px solid var(--semi-oscuro); 
    background-color: var(--salmon);
}

.tratamiento-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , auto));
    grid-gap: 1%;
    justify-content: end;
    align-items:center;
    text-align: center;
    opacity: 1;
    filter: contrast(110%);
    width: 310px;
    height: 310px;
    margin: 50px;
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--azul) 0px 4px 10px ;
    border: 5px solid var(--semi-oscuro) ;
    border-radius: 8px;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
}