.aparatologia-card {
    margin: 80px;
    width: 400px;

  
}


.image-container-aparatologia img {
    display: flex;
    justify-content:end;
    align-items:center;
    opacity: 1;
    filter: contrast(110%);
    width: 350px;
    border-radius: 10px;
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--azul) 0px 4px 10px ;
    border: 10px solid var(--semi-oscuro) ;
  
}

.h1-aparatologia {
    display: flex;
    font: 48px/80px "Open Sans", sans-serif;
    font-size:40px;
    width: 80%;
    height: 100px;
    text-align: center;
    align-items: center;
    opacity: .6;
    margin: 20px 20px 50px 10px;
    color: var(--semi-oscuro);
    border-bottom: 2px solid var(--semi-oscuro); 
}
