.image-container-contacto img {
    display: flex;
    justify-content:end;
    align-items:center;
    opacity: 1;
    filter: contrast(110%);
    width: 250px;
    margin: 80px;
    border-radius: 70px;
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--azul) 0px 4px 10px ;
    border: 10px solid var(--semi-oscuro) ;
  
}

.h1-contacto {
    display: flex;
    width: 100vw;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: .6;
    margin:0%;
    color: var(--semi-oscuro);

}

.h2-contacto {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    color: var(--semi-oscuro)
}