
.page-footer  {
    display: grid;
    justify-content: center;
    height: 450px;  
    background-color: var(--semi-oscuro);
    border-radius: 10px;
    box-shadow: var(--grey) 0px 0px 95px, var(--azul) 0px 4px 31px ;
    border: 0px solid var(--azul-fran) ; 
}

.icons {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100px;
}

.page-footer img {
   width: 50px;
   height: 50px;
   justify-content:center; 
   margin: 30px;
   border-radius: 5px;
}
.btn {
   font-size: 1.5rem;
   margin: 2rem 1rem 0rem 1rem;
   background-color:var(--grey-button) ;
   width: 300px;
}

.btn:hover {
   border-color: 3px var(--azul-fran);
}

.copyright {
   align-items: center;
   justify-content:end;
   height: 100px;
   color: var(--oscuro);
}

.copyright img {
   width: 40px;
   height: 40px; 
}

