
.page-footer  {
    display: grid;

    margin: 0 auto; 
    height: 150px;  
    background-color: var(--grey);
    border-radius: 10px;
    box-shadow: var(--grey) 0px 0px 95px, var(--azul) 0px 4px 31px ;
    border: 0px solid var(--azul-fran) ;
    
}

.icons {
   display: flex;
   width: 900px;
   height: 200px;
}

.page-footer img {
   width: 50px;
   justify-content:flex-start; 
   margin: 30px;
   border-radius: 5px;
}

.copyright {
   align-items: center;
   justify-content:end;
   height: 150px;
   color: var(--oscuro);
}

.copyright img {
   width: 40px;
   height: 40px; 
}