
* {
    width: 100%;
    font-weight:bold;
 
}

.h1-home {
    font: 2rem/2rem "Open Sans", sans-serif;
    width: 100vw;
    height: 4rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 4% 0% 0% 0%;
    padding: 4% 2% 2% 2%;
    color: var(--semi-oscuro);
    border-bottom: 2px solid var(--semi-oscuro); 
    background-color: var(--salmon);
}

    .image-container img {
    display: flex;
    filter: contrast(110%);
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin: 10% 5% 15% 19%;
    border-radius: 5px;
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--semi-oscuro) 0px 4px 15px ;
    border: px solid var(--semi-oscuro) ;
}

.cont1-home {
    display: flex;
    width: 90%;
    height: 7rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.h2-home {
   width: 80%;
   margin: 0% 0% 4% 4%;
   color: var(--semi-oscuro);
}

.lead-text-center {
    font: 1rem/1rem "Open Sans", sans-serif;
    display: flex;
    width: 90vw;  
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    margin: 5% 0% 5% 2.5%;
    padding: 1% 1% 2% 2%;
    background-color: var(--verde-fran); 
    color: var(--semi-oscuro); 
}
