:root {
--negro: #000000;
--oscuro: #1c1c1f;
--semi-oscuro: #8c8c8e;
--app-grey: #F2F2F2;
--grey: rgb(242, 243, 248);
--azul: rgb(91, 91, 229);
--azul-hover: rgb(40, 40, 197);
--azul-fran: rgb(102, 138, 255);
--verde: rgb(37, 177, 121);
--verde-fran: rgb(177, 214, 188);
--rosa: rgb(181, 155, 176);
--lila: #8a6df1ff;
--laranja: rgb(84, 31, 23);
--amarelo: #ffc51aff; 
--celeste: rgba(0, 212, 255, 0.75);
--pastel: rgb(192, 179, 204);
--salmon:rgb(248, 157, 147);
--salmon-fume:rgb(252, 84, 66);
--grey-layer: rgb(224, 224, 224);
}

* {
    margin: 0%;
    font-weight:bold;
    box-sizing: border-box;
}

body {
    background-color: var(--app-grey);
    border-radius: 20px;
}

.image-container {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 20px 20px 20px 20px;   
}

.header {
    display:flex ;   
    /*background-color: var(--grey);
    border-radius: 20px;
    box-shadow: var(--amarelo) 0px 0px 95px, var(--azul) 0px 4px 31px ;
    border: 0px solid var(--azul-fran) ;
    font-size: 15px;*/
}

.image-container img {
    display: flex;
    justify-content:end;
    align-items:end;
    opacity: 1;
    filter: contrast(110%);
    width: 300px;
    margin: 5px;
    border-radius: 5;
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--azul) 0px 4px 10px ;
    border: 1px solid var(--azul-fran) ;
  
}

.h1-home {
    display: flex;
    width: 100vw;
    height: 110px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--semi-oscuro);
    opacity: .6;
    margin: 3% 0% 4% 0%;
      /* background-color: var(--semi-oscuro); */

}

.h2-home {
   width: 80%;
   margin: 0% 0% 4% 4%;
   color: var(--semi-oscuro);
}

.lead  {
    width: 100%;
    font-size: 20px;
    color: var(--grey);
    line-height: 1.5;
    margin: 0% 0% 5% 0%;
    padding: 1% 4%;
    background-color: var(--verde-fran);
    border-radius: 5px;
   
}
