.container-layout {
   display: flex;
   justify-content:center;
   text-align: center;
   align-items: center;
   height: 200px;  
   margin: 0px;
}

.navbar ul img {
   display: flex;
   width: 170px;
   height: 150px;
   margin: 10px 0px 20x 0px;
}

.navbar ul { 
   display: flex;
   height: 70px;
   align-items: center;
   justify-content:space-around;
   font-size: 25px;
   margin: 10px 30px 10px 20px;
   padding: 0;
   border-bottom-style: solid ;
   border-bottom-width: 2px ;
   border-color: var(--grey-layer) ;
}

li {
   margin: 6px 30px 10px 0px;
}





