form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%; 
    height: 700px; 
    margin: 20px; 
    padding: 20px;
    border: solid 2px;
    background-color: var(--grey-layer);
  }