.h1-profesionales {
    display: flex;
    font: 48px/80px "Open Sans", sans-serif;
    width: 80%;

    align-items: center;
    text-align: center;
    margin: 20px 20px 50px 10px;
    color: var(--semi-oscuro);
    border-bottom: 2px solid var(--semi-oscuro); 
}

.profesional-card {
    justify-content: end;
    align-items:center;
    text-align: center;
    opacity: 1;
    filter: contrast(110%);
    width: 310px;
    height: 310px;
    margin: 50px;
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--azul) 0px 4px 10px ;
    border: 5px solid var(--semi-oscuro) ;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
}