
.navbar-servicios  {
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    width: 1250px;
    height: 150px;  
    background-color: var(--grey);
    border-radius: 15px;
    box-shadow: var(--grey) 0px 0px 95px, var(--azul) 0px 4px 31px ;
    border: 0px solid var(--azul-fran) ;
    }

    ul {
        display: flex;
        font-size: 18px;
        list-style: none;
        justify-content: flex-start;
        align-content: center;
    }