form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 700px; 
    height: auto; 
    margin: 20px auto; 
    padding: 20px;
    border: solid 2px;
    background-color: var(--grey-layer);
  }